<div class="w-100">
    <div class="pt-2">
        <button mat-button (click)="openDialog()"><span class="material-icons">
                add_shopping_cart
            </span>Thêm sản phẩm</button>
    </div>

    <div class="pt-3 pb-3">
        <app-search (valueSearch)="handleValueSearch($event)" [placeholder]="placeholder"></app-search>
    </div>
    <div class="d-flex pt-3 pb-3">
        <button mat-raised-button *ngFor="let type of typeData" class="mr-3 custom-btn"
            (click)="handleTypeFashion(type)">{{type.product_type_name}}</button>

    </div>
    <div class="pb-5">
        <app-table-one [data]="data.data" [clearSort]="clearSort" (itemEdit)="handleItemEdit($event)"
            (isSort)="handleSort($event)"></app-table-one>

    </div>
    <div class="pagi w-100 text-center">
        <app-pagination [currentPage]="currentPage" [totalPage]="'9'" (pageChange)="handlePageChange($event)">
        </app-pagination>
    </div>
</div>