.card-voucher--container {
    position: relative;
    width: 220px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgb(180, 180, 180);
    .top--voucher {
        width: 100%;
        height: 50%;
        position: relative;
        .image--voucher {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .total {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .bottom--voucher {
        width: 100%;
        .title-voucher {
        }
        .des-voucher {
        }
    }
    .action-voucher {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #668aee;
    }
}
