<div class="dialog-create-container p-2">
  <div class="dialog-create-title d-flex align-items-center">
    <span class="material-icons pr-2"> library_add </span>
    Thêm nhân viên
  </div>
  <div class="dialog-create-body w-100" [formGroup]="createUserForm">
    <div class="d-flex justify-content-between">
      <div class="pr-18">
        <div class="dialog-title">User</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput formControlName="employee_userName" />
          <mat-error>{{
            createUserForm.controls["employee_userName"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="dialog-title">Gender</div>
        <mat-form-field [floatLabel]="'never'">
          <mat-select name="role" formControlName="employee_gender">
            <mat-option *ngFor="let i of gender" [value]="i.value">
              {{ i.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="pr-18">
        <div class="dialog-title">Name</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput formControlName="employee_fullName" />
          <mat-error>{{
            createUserForm.controls["employee_fullName"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="dialog-title">Phone</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput formControlName="employee_phone" />
          <mat-error>{{
            createUserForm.controls["employee_phone"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="pr-18">
        <div class="dialog-title">Password</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="employee_password"
            placeholder="**********" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>{{
            createUserForm.controls["employee_password"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="dialog-title">Role</div>
        <mat-form-field [floatLabel]="'never'">
          <mat-select name="role" formControlName="employee_role">
            <mat-option *ngFor="let role of data.roles" [value]="role.employee_role_id">
              {{ role.employee_role_title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="dialog-create-action pb-5 w-100 d-flex justify-content-center">
    <button mat-raised-button class="mr-4 dialog-btn" (click)="handleSave()"
      [disabled]="!createUserForm.dirty || !createUserForm.valid">
      Save
    </button>
    <button mat-raised-button class="ml-4 dialog-btn" (click)="handleCancel()">
      Cancel
    </button>
  </div>
</div>