<div class="dialog-create-container p-2">
    <div class="dialog-create-title d-flex align-items-center pb-4">
        <span class="material-icons pr-2"> library_add </span>
        Thêm sản phẩm
    </div>
    <div class="pt-2">
        <app-c-discussion-attach (filesAttach)="handleFile($event)"></app-c-discussion-attach>
    </div>
    <div class="dialog-create-body w-100" [formGroup]="createForm">
        <div class="d-flex justify-content-between">
            <div class="pr-5">
                <div class="dialog-title">Tên sản phẩm</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="product_name" />
                    <mat-error>{{
                        createForm.controls["product_name"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <div class="dialog-title">Giá bán</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="product_unit_price" />
                    <mat-error>{{
                        createForm.controls["product_unit_price"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <div class="dialog-title">Mô tả</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="product_description" />
                    <mat-error>{{
                        createForm.controls["product_description"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <div class="dialog-title">Số lượng</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="product_qty" />
                    <mat-error>{{
                        createForm.controls["product_qty"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <div class="dialog-title">Type</div>
                <mat-form-field [floatLabel]="'never'">
                    <mat-select name="product_type_fk" formControlName="product_type_fk"
                        (selectionChange)="handleSelect($event)">
                        <mat-option *ngFor="let product_type_fk of data.typeData"
                            [value]="product_type_fk.product_type_id">
                            {{ product_type_fk.product_type_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <div class="dialog-title">Size</div>
                <mat-form-field [floatLabel]="'never'">
                    <mat-select name="product_size_fk" formControlName="product_size_fk">
                        <mat-option *ngFor="let product_size_fk of listSize" [value]="product_size_fk.product_size_id">
                            {{ product_size_fk.product_size_title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-center">
            <div>
                <div class="dialog-title">Color</div>
                <mat-form-field [floatLabel]="'never'">
                    <mat-select name="product_type_fk" formControlName="product_type_fk"
                        (selectionChange)="handleSelect($event)">
                        <mat-option *ngFor="let product_type_fk of data.typeData"
                            [value]="product_type_fk.product_type_id">
                            {{ product_type_fk.product_type_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div> -->
        <div class="dialog-create-action pb-2 w-100 d-flex justify-content-center">
            <button mat-raised-button class="mr-4 dialog-btn" (click)="handleSave()"
                [disabled]="!createForm.dirty || !createForm.valid">
                Save
            </button>
            <button mat-raised-button class="ml-4 dialog-btn" (click)="handleCancel()">
                Cancel
            </button>
        </div>
    </div>