<div *ngIf="data">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped" matSort
    (matSortChange)="handleSortChange($event)">
    <ng-container [matColumnDef]="column.value" *ngFor="let column of tableConfig.columns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sort">
        {{ column.displayName }}
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isArray(element[column.value])">
          <div class="d-flex flex-row">
            <div *ngFor="let item of element[column.value]" class="mr-2">
              {{ item }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isArray(element[column.value]) && !column.type">
          {{ element[column.value] }}
        </ng-container>
        <ng-container *ngIf="!isArray(element[column.value]) && column.type === 'chip'">
          <div class="active-true" *ngIf="element[column.value] === true; else elseBlock">
            Enabled
          </div>
          <ng-template #elseBlock>
            <div class="active-false">Disabled</div>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="!isArray(element[column.value]) && column.type === 'chip1'">
          <div class="create" *ngIf="element[column.value] === 'Create'">
            Chờ xác nhận
          </div>
          <div class="pending" *ngIf="element[column.value] === 'Pending'">
            Chờ lấy hàng
          </div>
          <div class="cancel" *ngIf="element[column.value] === 'Cancel'">
            Đã huỷ
          </div>
          <div class="paymentfail" *ngIf="element[column.value] === 'Payment_fail'">
            Fail
          </div>
          <div class="paymentsuccess" *ngIf="element[column.value] === 'Payment_success'">
            Thành công
          </div>
          <div class="shipping" *ngIf="element[column.value] === 'Shipping'">
            Đang giao
          </div>
          <div class="done" *ngIf="element[column.value] === 'Done'">
            Đã giao
          </div>
          <div class="return" *ngIf="element[column.value] === 'Return'">
            Return
          </div>


        </ng-container>
      </td>
    </ng-container>
    <ng-container *ngIf="tableConfig.action" matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef>
        {{ tableConfig.action.name }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editItem(element)" class="color-btn" *ngIf="tableConfig.action.edit">
          <span class="material-icons">
            edit_road
          </span>
        </button>
        <button mat-icon-button (click)="viewDetail(element)" class="color-btn" *ngIf="tableConfig.action.view">
          <span class="material-icons">
            preview
          </span>
        </button>
        <button mat-icon-button (click)="deleteItem(element)" class="color-btn" *ngIf="tableConfig.action.delete">
          <span class="material-icons"> delete_forever </span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
<div *ngIf="!data" class="d-flex row justify-content-center">
  No data
</div>