<div class="dialog--container">
  <h2
    mat-dialog-title
    *ngIf="type === 'confirm' || type === 'input'"
    [class.text-info]="type === 'confirm' || type === 'input'"
  >
    {{ title }}
  </h2>
  <h2
    mat-dialog-title
    *ngIf="type === 'error'"
    [class.text-danger]="type === 'error'"
  >
    {{ title }}
  </h2>
  <h2
    mat-dialog-title
    *ngIf="type === 'info'"
    [class.text-info]="type === 'info'"
  >
    {{ title }}
  </h2>
  <h2
    mat-dialog-title
    *ngIf="type === 'success'"
    [class.text-success]="type === 'success'"
  >
    {{ title }}
  </h2>
  <h2
    mat-dialog-title
    *ngIf="type === 'warning'"
    [class.text-warning]="type === 'warning'"
  >
    {{ title }}
  </h2>

  <div class="">
    <div mat-dialog-content *ngIf="type !== 'input'">
      {{ message }}
    </div>
  </div>

  <div
    mat-dialog-actions
    class="d-flex btn-action-dialog justify-content-end align-items-center flex-wrap w-100 pb-2"
  >
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button
      *ngFor="let button of buttons"
      class="btn btn--primary"
      [mat-dialog-close]="button.actionValue"
    >
      {{ button.text }}
    </button>
  </div>
</div>
