<div class="dialog-info-container p-2">
    <div class="dialog-info-title d-flex align-items-center">
        <span class="material-icons"> info </span>
        Thông tin khách hàng
    </div>
    <div class="dialog-info-body p-5 w-100" [formGroup]="editUserForm">
        <div class="d-flex justify-content-between">

            <div>
                <div class="dialog-title">Phone</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="customer_phone" />
                    <mat-error>{{
                        editUserForm.controls["customer_phone"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div class="pl-18">
                <div class="dialog-title">Birthday</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="customer_birthday" placeholder="" />
                    <mat-error>{{
                        editUserForm.controls["customer_birthday"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="pr-18">
                <div class="dialog-title">Name</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="customer_fullName" />
                    <mat-error>{{
                        editUserForm.controls["customer_fullName"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <div class="dialog-title">Gender</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="customer_gender" />
                    <mat-error>{{
                        editUserForm.controls["customer_gender"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="pr-18">
                <div class="dialog-title">Address</div>
                <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="customer_address" />
                    <mat-error>{{
                        editUserForm.controls["customer_address"].errors?.message
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="dialog-info-action py-2 w-100 d-flex justify-content-center">
        <button mat-raised-button class="mr-4 dialog-btn" (click)="handleSave()"
            [disabled]="!editUserForm.dirty || !editUserForm.valid">
            Save
        </button>
        <button mat-raised-button class="ml-4 dialog-btn" (click)="handleCancel()">
            Cancel
        </button>
    </div>
</div>