.dialog-info-container {
    font-size: 18px;
    font-weight: 400;
    .dialog-info-title {
        color: #2e2e2e;
    }
    .dialog-info-body {
        .dialog-value {
            color: #777777;
        }
    }
}
::ng-deep {
    .mat-form-field-infix {
        width: 250px !important;
    }
    input.mat-input-element {
        color: #777777;
    }
}
.pr-18 {
    padding-right: 180px;
}
.dialog-btn {
    font-weight: 500;
    font-size: 18px;
    width: 150px;
    height: 50px;
    box-shadow: none;
    border: 1px solid #15748d;
    color: #15748d;
}
.dialog-btn:first-child {
    background-color: #15748d;
    color: #ffffff;
}
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #6a6a6a !important;
    color: #666666;
}
