<div id="login-page" [ngStyle]="{ 'background-image': getBackGroundImg() }">
    <div class="login-layer float-right d-flex flex-column align-items-center">
        <div class="logo mb-30" [ngStyle]="{ 'background-image': getUrl() }"></div>
        <div class="title mb-30">
            {{ title }}
        </div>
        <div class="login-form mb-9" [formGroup]="loginForm">
            <span class="mb-10">Account ID/ Email</span>
            <mat-form-field appearance="outline" class="w-100">
                <mat-icon matPrefix>mail</mat-icon>

                <input matInput placeholder="email@email.com" formControlName="email" required autocomplete="off" />
            </mat-form-field>
            <span class="mb-10">Password</span>
            <mat-form-field appearance="outline" class="w-100">
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                    [type]="hide ? 'password' : 'text'" formControlName="password" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="statusLogin" style="color:red">
                Sai tài khoản hoặc mật khẩu
            </div>
        </div>

        <div class="w-100 d-flex flex-row justify-content-between mb-30">
            <div>
                <section>
                    <mat-checkbox (change)="checkboxChange($event)" color="primary">Remember me</mat-checkbox>
                </section>
            </div>
            <div class="d-flex align-items-center">
                <a [href]="forgotNavigation">Forgot password?</a>
            </div>
        </div>
        <div class="w-100 d-flex flex-row justify-content-between">
            <button mat-button class="register-btn" (click)="register()">Register</button>
            <button mat-button class="login-btn" (click)="login()">Login</button>
        </div>
    </div>
</div>