:host {
    position: relative;
    top: 60px;
    left: 0;
    // transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // -moz-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // -o-transform: translate(-50%, -50%);
}
#login-page {
    height: 580px;
    width: 1240px;
    font-size: 16px;
    color: #d6e2ff;
    background-repeat: no-repeat;
    background-size: 1440px 720px;
    .login-layer {
        width: 50%;
        height: 100%;
        background-color: #123c74;
        padding: 30px 110px 0 110px;
        opacity: 0.8;
    }
    .logo {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        background-size: 80px 80px;
    }
    .title {
        font-size: 36px;
    }
    .custom-input {
        color: white;
    }
    .register-btn {
        width: 140px;
        height: 40px;
        border: 1px solid white;
    }
    .register-btn:hover {
        border: 1px solid #001c4d;
        background-color: #001c4d;
    }
    .login-btn {
        width: 140px;
        height: 40px;
        border: 1px solid white;
        &:hover {
            border: 1px solid #001c4d;
            background-color: #001c4d;
        }
    }
    ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-outline-end,
        .mat-form-field-appearance-outline .mat-form-field-outline-start {
            background-color: #001c4d;
        }
        .mat-form-field-appearance-outline .mat-form-field-prefix {
            margin-right: 20px;
            margin-left: 10px;
        }
        ::placeholder {
            color: #c4cad9;
        }
        .mat-input-element {
            caret-color: white;
            color: white;
        }
        .mat-checkbox-background {
            border: 0.5px solid white;
        }
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: rgba(139, 119, 224, 0.12);
        }
        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 5px 0 10px 0;
        }
        .mat-form-field-label-wrapper {
            display: none;
        }
    }
    a {
        color: #ff7818;
    }
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-9 {
    margin-bottom: 9.5px;
}
.background-image {
    object-fit: contain;
}
