<div class="user-container d-flex align-items-center flex-column w-100 h-100">
  <div class="user-container--header d-flex justify-content-between align-items-center w-100">
    <div class="pr-5">
      <button mat-button (click)="openDialogCreateUser()">
        <span class="material-icons"> library_add </span>
        Thêm Nhân viên
      </button>
    </div>
  </div>
  <div class="user-container--body">
    <app-search (valueSearch)="handleValueSearch($event)" [placeholder]="placeholder"></app-search>
    <div class="user-body--table" *ngIf="users.data.length > 0; else noData">
      <app-table-classic [tableConfig]="dataConfig" [data]="users.data" (editData)="handleEditData($event)"
        (isSort)="handleSort($event)" [clearSort]="clearSort"></app-table-classic>
    </div>
    <ng-template #noData>
      <div class="d-flex row justify-content-center">
        No data
      </div>
    </ng-template>
  </div>
  <div class="user-container-footer d-flex justify-content-center align-items-center w-100 pb-4">
    <app-pagination [currentPage]="currentPage" [totalPage]="totalPage" (pageChange)="handlePageChange($event)"
      *ngIf="totalPage>1">
    </app-pagination>
  </div>
</div>