.card-edit--container {
}
.card-edit-left {
    width: 350px;
}
.card-edit-right {
    width: 350px;
}
.edit-btn {
    width: 150px;
    height: 50px;
    border: 1px solid red;
}
.save-btn {
    width: 150px;
    height: 50px;
    border: 1px solid #1278d7;
}
