.chart-container {
    color: white;
    .product {
        background-color: #0c1732;
        height: 150px;
        border-radius: 10px;
        box-shadow: 6px 8px 15px rgba(68, 68, 68, 0.6);
    }
    .customer {
        background-color: #7bad83;
        height: 150px;
        border-radius: 10px;
        box-shadow: 6px 8px 15px rgba(68, 68, 68, 0.6);
    }
    .type_product {
        background-color: #cba42c;
        height: 150px;
        border-radius: 10px;
        box-shadow: 6px 8px 15px rgba(68, 68, 68, 0.6);
    }
    .order {
        background-color: #bd537b;
        height: 150px;
        border-radius: 10px;
        box-shadow: 6px 8px 15px rgba(68, 68, 68, 0.6);
    }
    .chart-line {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4d4d4d;
    }
    .chart-circle {
        margin-top: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px !important;
        .chart-circle-one {
            width: 45%;
            background-color: #4d4d4d;
        }
        .chart-circle-two {
            width: 45%;
            background-color: #4d4d4d;
        }
    }
}

.chart-content-title {
    display: flex;
}
.calendar {
    color: #757575;
    font-size: 40px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 12px #757575;
}
.title {
    font-weight: 500;
}
.link-detail {
    font-weight: 300;
}
