<div class="d-flex justify-content-center align-items-center border-dot mb-3 p-4" appDragDropFile
  (fileDropped)="onFileDropped($event)">
  <mat-icon>cloud_upload</mat-icon>
  <label class="ml-2 mb-0">
    Drop files to attach, or&nbsp;
  </label>
  <input class="custom-input-file" type="file" #fileDropRef id="fileDropRef" multiple
    (change)="fileBrowseHandler($event.target.files)" />
  <label class="text-hover text-primary mb-0" for="fileDropRef">browse.</label>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <div class="file-icon" style="width: 50px">
      <mat-icon>insert_drive_file</mat-icon>
    </div>
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
    </div>

    <div class="delete" (click)="deleteFile(i)">
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</div>