<div class="dialog-info-container p-2">
  <div class="dialog-info-title d-flex align-items-center">
    <span class="material-icons">
      edit
    </span>
    Sửa thông tin
  </div>
  <div class="dialog-info-body w-100" [formGroup]="editUserForm">
    <div class="d-flex justify-content-between">
      <div class="pr-18">
        <div class="dialog-title">User</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput formControlName="employee_userName" readonly />
          <mat-error>{{
            editUserForm.controls["employee_userName"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="pr-18">
        <div class="dialog-title">Name</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput formControlName="employee_fullName" />
          <mat-error>{{
            editUserForm.controls["employee_fullName"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="dialog-title">Phone</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput formControlName="employee_phone" />
          <mat-error>{{
            editUserForm.controls["employee_phone"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="pr-18">
        <div class="dialog-title">Password</div>
        <mat-form-field [floatLabel]="'never'">
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="employee_password"
            placeholder="********" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>{{
            editUserForm.controls["employee_password"].errors?.message
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="dialog-title">Role</div>
        <mat-form-field [floatLabel]="'never'">
          <mat-select name="role" formControlName="employee_role">
            <mat-option *ngFor="let role of data.roles" [value]="role.employee_role_id">
              {{ role.employee_role_title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="user-status">
        Enabled<mat-slide-toggle formControlName="isDelete" class="px-2"></mat-slide-toggle>Disabled
      </div>
    </div>
  </div>
  <div class="dialog-info-action pb-3 w-100 d-flex justify-content-center">
    <button mat-raised-button class="mr-4 dialog-btn" (click)="handleEdit()"
      [disabled]="!editUserForm.dirty || !editUserForm.valid">
      Save
    </button>
    <button mat-raised-button class="ml-4 dialog-btn" (click)="handleCancel()">
      Cancel
    </button>
  </div>
</div>