<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->

        <!-- ID Column -->
        <ng-container matColumnDef="product_images">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let row">
                <img src={{row.product_images[0]}} alt="img" class="custom-img" *ngIf="row.product_images;else noImage">
                <ng-template #noImage>No Image</ng-template>
            </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.product_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="product_qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let row"> {{row.product_qty}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="product_unit_price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row"> {{row.product_unit_price | currency:'VND'}} </td>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="product_type_fk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let row"> {{row.product_type[0].product_type_name}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="product_status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row">
                <div *ngIf="row.product_status === true; else elseBlock" class="active-true">Enabled</div>
                <ng-template #elseBlock>
                    <div class="active-false">Disabled</div>
                </ng-template>
            </td>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="handleEdit(row)">
                    <span class="material-icons">
                        edit_road
                    </span>
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

</div>